



#playership {
    width: 70px;
    height: 69px;

}

#playershipDashboard {
    width: 70px;
    height: 69px;
}

.stats{
    border-radius: 15px;
}

.passiveArea {
    border-radius: 15px;
}


/* Game Stuff */
#background {
    background-image: url("../img/backgrounds/space2.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url("ocean.jpg"); */
    /* max-width: 150%; */
    /* width: 100%;
    height: 670px; */
    z-index: -1;

}

.populateDirections{
    vertical-align: top;
}


.missile {
    position: absolute;
    /* height: 10px;
    width: 6px; */
    width: 7px; 
    height: 13px;
    /* background-color: green; */
    background-image: url("../img/munitions/greenMissile.png");
    background-repeat: no-repeat;
}

.fireball {
    position: absolute;
    /* height: 10px;
    width: 6px; */
    width: 7px; 
    height: 8px;
    /* background-color: green; */
    background-image: url("../img/munitions/redFireball.png");
    background-repeat: no-repeat;
}

.torpedo {
    position: absolute;
    /* height: 10px;
    width: 6px; */
    width: 7px; 
    height: 8px;
    /* background-color: green; */
    background-image: url("../img/munitions/torpedo.png");
    background-repeat: no-repeat;
}

.chaingunRound {
    position: absolute;
    /* height: 10px;
    width: 6px; */
    /* width: 1px; 
    height: 2px;
    background-color: white; */

    width: 7px; 
    height: 15px;

    background-image: url("../img/munitions/fireball.png");
    background-repeat: no-repeat;

}



.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#missileCount {
    color: red;
}

#messages {
    color: red;
    position: absolute;
    display: block;
    top: 50%;
    left: 40%;
    font-weight: bold;
}

#abilityMessages {
    color: red;
    position: absolute;
    display: block;
    top: 40%;
    left: 40%;
    font-weight: bold;
}

#chaingunProgressBar {
    color: white;
    background: linear-gradient(left, #3d0000 0%,#ff0000 100%);
    background: -webkit-linear-gradient(left, #3d0000 0%,#ff0000 100%);
    /* background-color: green; */
}

.chaingunProgressBar {
    color: white;
    /* background: linear-gradient(left, #3d0000 0%,#ff0000 100%);
    background: -webkit-linear-gradient(left, #3d0000 0%,#ff0000 100%); */
    width:100%;
    
    /* background-color: green; */
}

.chaingunProgressDiv {
    width: 200px;
    height: 20px;
    position: relative;
    left: 8px;
}

.healthProgressDiv {
    width: 200px;
    height: 20px;
    position: relative;
    left: 40px;
}

.healthProgressBar {
    color: white;
    width: 100%;

}

.shieldProgressDiv {
    width: 200px;
    height: 20px;
    position: relative;
    left: 2px;
}

.xpProgressDiv {
    width: 100%;
    height: 30px;
    position: relative;
}

.shieldProgressBar {
    color: white;
    width: 100%;

}


#healthProgressBar {
    color: white;
    background-color: red;
}

#shieldProgressBar {
    color: white;
    /* background-color: blue; */
}

#xpProgressBar {
    color: white;
    font-size: 16px;
}

#xpBarText{
    color: white;
    font-size: 26px;
}

.fas {
    color: white;
}

.muteButton {
    color: black;
}

.storyText {
    font-size: 30px;
}

.vaeBorder{
    border: 4px outset white;
}

.logoutLink{
    font-size: 20px;
}

.welcomeText{
    font-size: 30px;
}

.unFeatured{
    font-size: 40px;
}

.mapInfoBox{
    border-radius: 5%;
}

.abilityBox{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#abilityOne  {
    background-color: green;
}
.abilityTwo  {
    background-color: green;
}
.abilityThree  {
    background-color: green;
}
.abilityFour  {
    background-color: green;
}
.abilityFive  {
    background-color: green;
}
.abilitySix  {
    background-color: green;
}

.muteBox{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: white;
}

.passiveButton{
    width: 100%;
    height: 64px;
    border-radius: 5%;
}

.passiveBox{
    width: 200px;
    height: 300px;
    border-radius: 5%;
    border: 1px solid black;
}

.abilCard {
    /* width: 20%;
    height: 400px; */
    border-radius: 5%;
    border: 1px solid black;
}



.player {
    position: absolute;
    background-image: url("../img/ships/player.png");
    /*background-image: url("player.png");*/
    width: 70px;
    height: 69px;
    z-index: 1;
}


.enemy {
    position: absolute;
    background-image: url("../img/enemies/enemyb.png");
    /*background-image: url("enemy.png");*/
    width: 70px;
    height: 60px;

}

.enemy2 {
    position: absolute;
    background-image: url("../img/enemies/enemy2b.png");
    /*background-image: url("enemy.png");*/
    width: 70px;
    height: 93px;
    transform: rotate(180deg);
}

.enemy3 {
    position: absolute;
    background-image: url("../img/enemies/enemy3b.png");
    /*background-image: url("enemy.png");*/
    width: 70px;
    height: 76px;
}

.enemy4 {
    position: absolute;
    background-image: url("../img/enemies/enemy4b.png");
    /*background-image: url("enemy.png");*/
    width: 70px;
    height: 107px;
}

.enemy5 {
    position: absolute;
    background-image: url("../img/enemies/enemy5b.png");
    /*background-image: url("enemy.png");*/
    width: 50px;
    height: 44px;
}

.enemy6 {
    position: absolute;
    background-image: url("../img/enemies/enemy6b.png");
    /*background-image: url("enemy.png");*/
    width: 70px;
    height: 88px;
}


.enemyDownFace {
    transform: rotate(0deg);
}

.enemyDownLeftFace {
    transform: rotate(45deg);
}

.enemyDownRightFace {
    transform: rotate(-45deg);
}



.enemyLeftFace {
    transform: rotate(90deg);
}

.enemyRightFace {
    transform: rotate(-90deg);
}

.enemyUpRightFace {
    transform: rotate(-135deg);
}

.enemyUpLeftFace {
    transform: rotate(135deg);
}


.enemyUpFace {
    transform: rotate(180deg);
}

















