<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Space Dock</title>
</head>
<body>
    <div class="container bg-dark mt-5 text-warning pt-3 col-xl-10">

        <div id="topbar" class="d-flex flex-row mb-5 mx-5 mt-3 vaeBorder shadow-lg">
            <h1 class="display-1 d-inline-flex text-success ml-3">Vae Vivorum</h1>
            <h4 class="ml-auto d-inline-flex mt-2 text-info welcomeText" >Welcome {{ thisUser.username }}</h4>
            <a class="ml-5 d-inline-flex mt-2 mr-3 logoutLink" href="/logout">Logout</a>
        </div>


        <h1 class="display-1 text-center text-danger">Space Dock</h1>


        <div class="container col-xl-4 bg-dark align-top d-inline-block">
            
            <hr>
            <h3>Total Score: {{ thisUser.current_score }}</h3>
            <h3>Total Money: {{ thisUser.current_money }}</h3>
            <h3>Level: {{ thisUser.current_level }}</h3>
            <h3>XP: {{ thisUser.current_xp }}</h3>
        </div>
    


        <div class="container bg-dark text-light d-inline-block col-xl-3 align-top">
            <img class="d-inline-block align-top" id="playershipDashboard" src="../static/img/ships/player.png" alt="spaceship"> 
            
            <h2>How To Play</h2>
            <ul class="d-inline-block mt-2">
                <li>Destroy Enemies to Reach the Target Score</li>
                <li>Move using your Mouse or 'WASD'</li>
                <li>Hold 'Space' to fire your primary weapon</li>
                <li>Press 'R' to Reload your primary weapon</li>
                <li>Use 1-2 for Active Abilities</li>
                <li>'1' for Missile Volley</li>
                <li>'2' for Torpedo</li>
            </ul>
        </div>
        



        <div class="card-deck iconDiv mt-5 p-3">

            <div class="card iconCard bg-info">
                <div class="card-body shadow-lg">
                    <h1 class="card-title mb-2 text-light text-center">Shipyard</h1>
                </div>
                <div class="card-footer">
                    <a href="/ships"><div class="linkIcon"><i class="img-fluid btn fas fa-10x fa-fighter-jet"></i></div></a>
                </div>
            </div>

            <div class="card iconCard bg-success">
                <div class="card-body shadow-lg">
                    <h1 class="card-title mb-2 text-light text-center">Equipment</h1>
                </div>
                <div class="card-footer">
                    <a href="/equipment"><div class="linkIcon"><i class="img-fluid btn fas fa-10x fa-archive"></i></div></a>
                </div>
            </div>

            <div class="card iconCard bg-danger">
                <div class="card-body shadow-lg">
                    <h1 class="card-title mb-2 text-light text-center">Store</h1>
                </div>
                <div class="card-footer">
                    <a href="/store"><div class="linkIcon"><i class="img-fluid btn fas fa-10x fa-coins"></i></div></a>
                </div>
            </div>

            <div class="card iconCard bg-warning">
                <div class="card-body shadow-lg">
                    <h1 class="card-title mb-2 text-light text-center">Map</h1>
                </div>
                <div class="card-footer">
                    <a href="/map"><div class="linkIcon"><i class="img-fluid btn fas fa-10x fa-map"></i></div></a>
                </div>
            </div>

            {% if thisUser.username == "Tax" or thisUser.id == 1 %}
                <div class="card iconCard bg-primary">
                    <div class="card-body shadow-lg">
                        <h1 class="card-title mb-2 text-light text-center">Admin</h1>
                    </div>
                    <div class="card-footer">
                        <a href="/admin"><div class="linkIcon"><i class="img-fluid btn fas fa-10x fa-user-secret"></i></div></a>
                    </div>
                </div>
            {% endif %}


        </div>








    </div>





    <div id="bottombar" class="container bg-dark col-xl-10 mt-5 pb-3 text-light">
        <h3>Vae Vivorum by Jonathan Ballard</h3>
        <p class="lead">asgardschosen@gmail.com</p>
    </div>


</body>
</html>