<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Equipment</title>
</head>
<body>

        
    <div class="container bg-dark mt-5 text-warning pt-3 col-xl-10">
        <div id="topbar" class="d-flex flex-row mb-5 mx-5 mt-3 vaeBorder">
            <h1 class="display-1 d-inline-flex text-success ml-3">Vae Vivorum</h1>
            <h4 class="ml-auto d-inline-flex mt-2 text-info welcomeText" >Welcome {{ thisUser.username }}</h4>
            <a class="ml-5 d-inline-flex mt-2 mr-3 logoutLink" href="/logout">Logout</a>
        </div>

        <!-- Equipment Content Here -->
    <h1 class="display-1 text-center text-danger">Equipment</h1>
    <p class="lead p-3 unFeatured">This Feature will be added at a later time. Here is where you'll be able to equip different equipment. Equipment will be randomly generated and drop from enemies or be bought from the store. Some equipment pieces will have active skills. From here you can also go to the <a href="/ships">Shipyard</a>.</p>




    <div class="card-deck iconDiv mt-5 p-3 mb-5">

        <div class="card iconCard bg-info">
            <div class="card-body">
                <h3 class="card-subtitle mb-2 text-light">Shipyard</h3>
            </div>
            <div class="card-footer">
                <a href="/ships"><i class="ml-4 fas fa-4x fa-fighter-jet"></i></a>
            </div>
        </div>

        <div class="card iconCard bg-danger">
            <div class="card-body">
                <h3 class="card-subtitle mb-2 text-light">Store</h3>
            </div>
            <div class="card-footer">
                <a href="/store"><i class="fas fa-4x fa-coins"></i></a>
            </div>
        </div>

        <div class="card iconCard bg-secondary">
            <div class="card-body">
                <h3 class="card-subtitle mb-2 text-light">Back To Dock</h3>
            </div>
            <div class="card-footer">
                <a href="/dock"><i class="ml-4 fas fa-4x fa-anchor"></i></a>
            </div>
        </div>

        <div class="card iconCard bg-primary">
            <div class="card-body">
                <h3 class="card-subtitle mb-2 text-light">Start Mission</h3>
            </div>
            <div class="card-footer">
                <a href="/game"><i class="fas fa-4x fa-angle-double-right"></i></a>
            </div>
        </div>





    </div>



    </div>










<div id="bottombar" class="container bg-dark col-xl-10 mt-5 pb-3 text-light">
    <h3>Vae Vivorum by Jonathan Ballard</h3>
    <p class="lead">asgardschosen@gmail.com</p>
</div>


</body>
</html>