<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/gamevariables.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/classes.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
    <title>Vae Vivorum</title>
</head>
<body>


    <div class="container bg-dark col-xl-10">
        <div id="topbar"  class="d-flex flex-row">
            <h1 class="unselectable display-2 d-inline-flex text-success">Vae Vivorum</h1>
            <h4 class="unselectable ml-auto align-bottom d-inline-flex mt-2 text-info" >Welcome {{ thisUser.username }}</h4>
            <a class="ml-5 d-inline-flex mt-2" href="/logout">Logout</a>
        </div>


    
        <div id="gameArea">
            <div id="background">
                <div id="players"></div>
                <div id="enemies"></div>
                <div id="weapon_fires"></div>
                <div id="enemy_fires"></div>
                <div id="friendly_fires"></div>
                <div id="stats" class="unselectable">
                    
                    <!-- <div class="progress">
                        <div id="shieldProgressBar" style="width: 25%" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                    
                    <!-- <div class="d-block">
                        <label class="h3 text-dark" for="shieldProgressBar">Shields:</label>
                        <progress id="shieldProgressBar" value="100" max="100">100%</progress>
                    </div>

                    <div class="d-block">
                        <label class="h3 text-dark" for="healthProgressBar">Armor:</label>
                        <progress id="healthProgressBar" value="100" max="100">100%</progress>
                    </div> -->


                    <div class="shieldsOutside">
                        <h3 class="d-inline-block h3">Shields:</h3>
                        <div class="d-inline-block">
                            <div class="progress shieldProgressDiv">
                                <div class="shieldProgressBar progress-bar progress-bar-animated progress-bar-striped bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="hullOutside">
                        <h3 class="d-inline-block h3">Hull:</h3>
                        <div class="d-inline-block">
                            <div class="progress healthProgressDiv">
                                <div class="healthProgressBar progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>


                    
                    
                    <!-- <label class="h3 text-dark" for="chaingunProgressBar">Ammo:</label>
                    <progress id="chaingunProgressBar" value="200" max="200">100%</progress> -->
                    
                    <h3 class="d-inline-block h3">Ammo:</h3>
                    <div class="d-inline-block">
                        <div class="progress chaingunProgressDiv">
                            <div class="chaingunProgressBar progress-bar progress-bar-animated progress-bar-striped bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                    <h1 class="h3 text-dark">Kills: <span id="playerKills"></span></h1>
                    <h1 class="h3 text-dark">Score: <span id="playerScore"></span></h1>


                </div>
                <h3 class="display-5 unselectable" id="abilityMessages"></h3>
                <h1 class="display-5 unselectable" id="messages"></h1>
            </div>
        </div>



    </div>

    <div id="bottombar" class="unselectable container bg-dark col-xl-10 mt-5 text-light">
        <h3>Vae Vivorum by Jonathan Ballard</h3>
        <p class="lead">asgardschosen@gmail.com</p>
    </div>


</body>
</html>