<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

    <title>Login & Registration</title>
</head>
<body>

<div class="container bg-dark mt-5 text-warning col-xl-10">


    <h1 class="ml-5 mt-5 display-1">Login & Registration</h1>


    <div class="d-inline-block container bg-dark text-light col-xl-4 align-top">


        <h3>Registration</h3>
        <form class="form-group" action="/register" method="POST">
            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username">

            <label for="email">Email:</label>
            <input class="form-control" type="email" name="email">
            
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password">

            <label for="passwordConfirm">Confirm Password:</label>
            <input class="form-control" type="password" name="passwordConfirm">

            {% with errors = get_flashed_messages(category_filter=["register"]) %}
            {% if errors %}
            <div class="alert-message block-message error">
            <a class="close" href="#">×</a>
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
            </div>
            {% endif %}
            {% endwith %}

            <hr>
            <input type="hidden" name="formType" value="register">
            <input type="submit" class="btn btn-success mb-5" value="Register!">
        </form>


    </div>



    <div class="container bg-dark text-light d-inline-block col-xl-3 align-top">

        

        
        <h2>How To Play</h2>
            <ul class="d-inline-block mt-2">
                <li>Destroy Enemies to Reach the Target Score</li>
                <li>Move using your Mouse or 'WASD'</li>
                <li>Hold 'Space' to fire your primary weapon</li>
                <li>Press 'R' to Reload your primary weapon</li>
                <li>Use 1-2 for Active Abilities</li>
                <li>'1' for Missile Volley</li>
                <li>'2' for Torpedo</li>
            </ul>
            <img class="d-inline-block align-top" id="playership" src="../static/img/ships/player.png" alt="spaceship">

    </div>





    <!-- LOGIN HERE -->
    <div class="d-inline-block container bg-dark text-light col-xl-4 align-top">
        <h3>Login</h3>
        <form class="form-group" action="/login" method="POST">

            <label for="emailLogin">Email:</label>
            <input class="form-control" type="email" name="emailLogin">

            <label for="passwordLogin">Password:</label>
            <input class="form-control" type="password" name="passwordLogin">

            {% with errors = get_flashed_messages(category_filter=["login"]) %}
            {% if errors %}
            <div class="alert-message block-message error">
            <a class="close" href="#">×</a>
            <ul>
                {%- for msg in errors %}
                <li>{{ msg }}</li>
                {% endfor -%}
            </ul>
            </div>
            {% endif %}
            {% endwith %}


            <hr>
            <input type="hidden" name="formType" value="login">
            <input type="submit" class="btn btn-info mb-5" value="Log In!">
        </form>

    </div>

    <div class="container storyBar bg-dark text-light col-xl-12 mt-5 p-3">
        <h3 class="display-4 text-info">The Story Thus Far...</h3>
        <p class="storyText">While you were off exploring space, an Alien Race has come and conquered Earth. They've killed off 90% of the population. You are certain your family is still alive. So you made the decision that rather than return to Earth to rescue your family, you're going to kill off all the Alien supply ships to deprive the Aliens of their critical supply of space toast. You don't know which Aliens are the ones who attacked Earth so you just have to kill them all. You don't know which ships are the supply ships either, so Good Luck. Once you have annihilated all invaders you'll be able to return home safely to Earth into the arms of your loving family.</p>
    </div>

    
</div>


<div id="bottombar" class="container bg-dark col-xl-10 mt-5 pb-3 text-light">
    <h3>Vae Vivorum by Jonathan Ballard</h3>
    <p class="lead">asgardschosen@gmail.com</p>
</div>

</body>
</html>











