<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icon/site.webmanifest') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/overview.js') }}"></script>
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Overview</title>
</head>
<body>

    <div class="container bg-dark mt-5 text-warning col-xl-10">

        <div id="topbar"  class="d-flex flex-row mb-5">
            <h1 class="display-1 d-inline-flex text-success">Vae Vivorum</h1>
            <h4 class="ml-auto d-inline-flex mt-2 text-info" >Welcome {{ thisUser.username }}</h4>
            <a class="ml-5 d-inline-flex mt-2" href="/logout">Logout</a>
        </div>

        <h1 class="display-3 text-center text-warning">Mission Overview</h1>

        <h4>Experience towards next level...</h4>
        <div class="progress xpProgressDiv mb-5">
            <div class="xpProgressBar progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


        <!-- Buy Passives -->
        <div class="container col-xl-8 passiveArea bg-light d-inline-block p-4 vertical-align-top">
            <h1 class="display-5 text-danger d-inline-block">Purchase Passives</h1>
            
            <h2>Points Left: <span id="abilPoints">{{ thisUser.abilityPointsEarned - thisUser.abilityPointsSpent }}</span></h2>



            <div class="card-deck passiveRow">

                <div class="card abilCard bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Better Chaingun Ammunition</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-light">Current Level: <span id="abil1">{{ thisUser.passive1 }}</span>/<span id="abil1Max"></span></h6>
                        <p class="card-text text-light">Increases Chaingun Damage</p>
                    </div>
                    <div class="card-footer">
                        <div class="passiveButton btn d-block btn-outline-primary p-3" id="passive1Buy">Buy</div>
                    </div>
                </div>


                <div class="card abilCard bg-warning">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Strengthen Hull</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-light">Current Level: <span id="abil2">{{ thisUser.passive2 }}</span>/<span id="abil2Max"></span></h6>
                        <p class="card-text text-dark">Increases Hit Points and Armor</p>
                    </div>
                    <div class="card-footer">
                        <div class="passiveButton btn d-block btn-outline-primary p-3" id="passive2Buy">Buy</div>
                    </div>
                </div>

                <div class="card abilCard bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Improved Shields</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-light">Current Level: <span id="abil3">{{ thisUser.passive3 }}</span>/<span id="abil3Max"></span></h6>
                        <p class="card-text text-light">Increases Shield Hit Points</p>
                    </div>
                    <div class="card-footer">
                        <div class="passiveButton btn d-block btn-outline-primary p-3" id="passive3Buy">Buy</div>
                    </div>
                </div>


                <div class="card abilCard bg-warning">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Thermobaric Warheads</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Current Level: <span id="abil4">{{ thisUser.passive4 }}</span>/<span id="abil4Max"></span></h6>
                        <p class="card-text text-dark">Increases Missile Volley and Torpedo Damage</p>
                    </div>
                    <div class="card-footer">
                        <div class="passiveButton btn d-block btn-outline-primary p-3" id="passive4Buy">Buy</div>
                    </div>
                </div>

            </div>



            <div class="card-deck passiveRow mt-3">

                <div class="card abilCard bg-warning">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Sub-Light Thrusters</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Current Level: <span id="abil5">{{ thisUser.passive5 }}</span>/<span id="abil5Max"></span></h6>
                        <p class="card-text text-dark">Increases Torpedo Movement Speed</p>
                    </div>
                    <div class="card-footer">
                        <div class="passiveButton btn d-block btn-outline-primary p-3" id="passive5Buy">Buy</div>
                    </div>
                </div>


                <div class="card abilCard bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Improved Hydro-Cooling</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-light">Current Level: <span id="abil6">{{ thisUser.passive6 }}</span>/<span id="abil6Max"></span></h6>
                        <p class="card-text text-light">Reduces Cooldown of Abilities</p>
                    </div>
                    <div class="card-footer">
                        <div class="passiveButton btn d-block btn-outline-primary p-3" id="passive6Buy">Buy</div>
                    </div>
                </div>

                <div class="card abilCard bg-warning">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Ammunition Storage</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Current Level: <span id="abil7">{{ thisUser.passive7 }}</span>/<span id="abil7Max"></span></h6>
                        <p class="card-text text-dark">Increases the Number of Chaingun Rounds You Can Fire Before Reloading.</p>
                    </div>
                    <div class="card-footer">
                        <div class="passiveButton btn d-block btn-outline-primary p-3" id="passive7Buy">Buy</div>
                    </div>
                </div>


                <div class="card abilCard bg-dark">
                    <div class="card-body">
                        <h5 class="card-title">Servos Automated</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-light">Current Level: <span id="abil8">{{ thisUser.passive8 }}</span>/<span id="abil8Max"></span></h6>
                        <p class="card-text text-light">Increased Chaingun Reload Speed</p>
                    </div>
                    <div class="card-footer">
                        <div class="passiveButton btn d-block btn-outline-primary p-3" id="passive8Buy">Buy</div>
                    </div>
                </div>

            </div>



        </div>



        <!-- Stats -->
        <div class="stats mt-5 ml-5 d-inline-block col-xl-3">
            <!-- <div id="getStats" class="btn btn-success mb-2">Update Statistics</div> -->
            <h4>Last Round's Statistics:</h4>
            <h6>Score: <span id="score">{{ score }}</span></h6>
            <h6>Kills: <span id="kills">{{ kills }}</span></h6>
            <h6>Money Earned: <span id="money">{{ money }}</span></h6>
            <h6>XP Gained: <span id="xp">{{ xp }}</span></h6>
            <hr>
            <h3>Total Score: <span id="totalScore">{{ thisUser.current_score }}</span></h3>
            <h3>Total Money: <span id="totalMoney">{{ thisUser.current_money }}</span></h3>
            <h3>XP: <span id="totalXp">{{ thisUser.current_xp }}</span></h3>
            <h3>Level: <span id="level">{{ thisUser.current_level }}</span></h3>
        </div>




        <div class="bg-dark text-light d-inline-block col-xl-4 align-bottom mt-4 mb-2 ml-5 vertical-align-top">
            <div class="d-inline-block">
                <a id="outputPassivesButton"><i class="btn ml-5 fas fa-2x fa-anchor"></i></a>
                <p class="lead">Return To Space Dock</p>
            </div>
        </div>
    
        <div id="bottombar" class="container bg-dark col-xl-10 mt-5 pb-3 text-light">
            <h3>Vae Vivorum by Jonathan Ballard</h3>
            <p class="lead">asgardschosen@gmail.com</p>
        </div>


    </div>

</body>
</html>