<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="script.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Store</title>
</head>
<body>
<h1>Store</h1>

<div id="topbar"  class="d-flex flex-row">
    <h1 class="display-1 d-inline-flex text-success">Vae Vivorum</h1>
    <h4 class="ml-auto d-inline-flex mt-2 text-info" >Welcome {{ thisUser.username }}</h4>
    <a class="ml-5 d-inline-flex mt-2" href="/logout">Logout</a>
</div>


<div class="container bg-dark col-xl-10">
    <!-- Store Content Here -->


</div>






<div id="bottombar" class="container bg-dark col-xl-10 mt-5 pb-3 text-light">
    <h3>Vae Vivorum by Jonathan Ballard</h3>
    <p class="lead">asgardschosen@gmail.com</p>
</div>

</body>
</html>